body {
  font-family: 'Space Mono', monospace;
  background-color: rgb(33, 34, 34);
  // text-align: center;
}

.mainContainer {
  display: flex;
  flex-flow: row wrap;
  text-align: center;

  a {
    font-size: 30px;
    font-weight: bold;

  }

  .articles {
    height: 250px;
    width: 500px;
    padding: 20px;
    margin: 10px;
    background-image: url("https://i.pinimg.com/originals/26/07/ad/2607ad57a9a8a5b42db5b55871908c78.gif");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .products {
    height: 250px;
    width: 500px;
    padding: 20px;
    margin: 10px;
    background-image: url("https://media.giphy.com/media/uema5crNU5tHG/giphy-downsized-large.gif");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

// #article-div img { display: none; }

#article-div.currently-loading img {
  display: block;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: left;
  color: white;
}

form {
  display: flex;
  flex-flow: column wrap;
}

label {
  color: red;
  padding: 10px;
  justify-content: flex-start;
  align-content: center;
  vertical-align: middle;
}

textarea {
  color: crimson;
  font-family: 'Space Mono', monospace;
  font-size: 20px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
}

.submitBtn,
button {
  border-radius: 25px;
  background-color: purple;
  padding: 10px;
  margin: 10px;
  height: 75px;
  width: 150px;
  font-size: 16px;
  font-family: 'Space Mono', monospace;
  color: white;


}

/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: grey;
}

/* selected link */
a:active {
  color: red;
}