 {{#if articles}}

<h1>Articles:</h1>
{{#each articles}}
<div>
  <a href='/articles/{{id}}'>{{name}}</a>
</div>
{{/each}}

<br>
<a href="/articles/new">NEW ITEM</a>
{{/if}} {{#if products}}

<h1>Products:</h1>
{{#each products}}
<div>
  <a href='/products/{{id}}'>{{name}}</a>
</div>
{{/each}}

<br>
<a href="/products/new">NEW ITEM</a>
{{/if}}